<div class="container">
  <div class="jumbotron bg-dark text-danger border border-primary">
    <h1 class="text-center">Union-Jack Mongo Scraper!</h1>
    <p class="text-center">Get your news fast! Courtesy of the BBC!</p>
    <hr>
    <div class="buttons text-center">
      <a href="/"><button class="btn btn-secondary saved text-white m-1" role="button">All Articles!</button></a>
      <button class="btn btn-danger clearSaved text-white m-1" role="button">Clear Saved Articles!</button>
    </div>
  </div>
  <div class="row bg-dark border border-danger m-1 p-1">
    <div class="col-lg-12 border border-danger artHeader2 text-white text-center">
      <h2 class="text-center text-danger bg-dark">Articles:</h2>
    </div>
    {{#each stories}}
    <div class="col-lg-4 articles">
      <div class="card m-2 border border-primary">
        <div class="card-body">
          <a href="{{url}}" target="_blank"><h3 class="card-title">{{headline}}</h3></a>
          <hr>
          <h4 class="card-text">{{summary}}</h4>
          <button class="btn btn-warning unsave" data-id="{{_id}}">Un-Save Article!</button>
        </div>
        <button class="btn btn-secondary note" data-id="{{_id}}" data-notes="{{notes}}">Notes</button>
      </div>
    </div>
    {{/each}}
  </div>
  <!--Modal-->
  {{#each stories}}
  <div class="modal fade" id="note-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Notes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <div class="prevNotes">
              <h2>Previous Notes:</h2>
            </div>
            <form method="POST" action="/saved/:id" class="border border-danger p-2 bg-dark text-white">
              <label for="noteHeader" class="header">Header:</label>
              <br>
              <input class="form-group title border border-primary bg-danger" name="noteHeader" placeholder="e.g. The Pope Story">
              <br>
              <label for="noteMessage" class="message">Message:</label>
              <br>
              <textarea class="form-group body border border-danger bg-primary" name="noteMessage" rows="5" placeholder="He's pretty cool!"></textarea>
              <br>
              <input type="submit" class="btn btn-primary saveNote" value="Save Note" data-id="{{_id}}">
            </form>
            {{/each}}
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>